@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

*{
    padding:0 ;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #000000;
}

header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(16, 16, 16, 0.411), rgba(16, 16, 16, 0.829)), url(../img/210312224133-cnne-cultura1-full-169.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*BARRA DE NAVEGACIÓN*/
.navbar{
    background-color: #000000;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    width: 150px;
    margin-left: 20px;

}

.bar-btn{
    font-size:25px ;
    color: antiquewhite;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.575);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display:none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
    font-size: 25px;
    color: antiquewhite;
    text-transform: uppercase;

}


.nav-menu li .active, .nav-menu li:hover{
    text-shadow: 2px 2px 5px #f8e8c9;
    color: rgb(255, 255, 255);
    transition: .3s;
    cursor: pointer;
    

}

#check{
    display: none;
}



#check:checked ~ .nav-menu /*atl+126*/{
    height:100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}


/*TEXTO BANNER*/

.padre {
    width: 10em;
    height: 15em;
    font-size:30px ;
    margin-left: 50px;
    margin-top: 100px;
    


}
.padre h1{
    color: #f8e8c9;
    font-size: 70px;
}

.padre a {
    text-decoration: none;
    color: #f8e8c9;
    
    
}

.padre a:hover{
    color: #2e2e2e;

}


.padre p{
    color: #9c9b9b;
}


.btn{
    margin-top: 60px;
    font-size:1em;
    background: none;
    border-radius:50px;
    color:antiquewhite;
    padding:10px 20px;
    border: 1px solid #f8e8c9;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    margin-top: 60px;
    
}

.btn:hover {
    background-color:#cac5c5;
    box-shadow: 0 0 5px  #a09999, 0 0 10px #bdb7b7;
    
}

.nav-menu a {
    color: #f8e8c9;

}



/*SECTION FOOTER*/

.footer{
    display: grid;
    height: 100px;
    align-items: center;
    background-color: #000000;
    color: #f8e8c9;
    font-weight:normal;
    grid-template-areas:
    " listen-online follow-me social-network";
    text-align: center;
    

}

.footer .listen-online{
    display:flex;
    color: #f8e8c9;
    justify-content: center;
    grid-template-areas: listen-online;
    
}
.footer .listen-online i{
    color: #f8e8c9;

}


.footer .listen-online h2{
    padding-left: 5px;
}

.footer i:hover{
    text-shadow: 1px 1px 5px #f8e8c9;
    color: rgb(255, 255, 255);
}

.footer .social-network i{
    color: #f8e8c9;
    padding-left: 10px;

}
/*RESPONSIVE*/

@media screen and (min-width: 769px){
    .logo{
        margin-top: 10px;
    }
    
    nav{
        height: 110px;
    }
    
    .bar-btn{
        display:none;
    }

    .nav-menu{
        position: relative;
        height: 100px;
        top:0;/*para que quede pegado arriba*/
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
        grid-column: 2/6;
        grid-row: 1/2;
        
    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin:0 20px;
        transition:none; 
    }
    .nav-menu a{
        font-size: 12px;
    }

    .nav-menu li {
        font-size: 12px;
    }
}
@media screen and (min-width: 1024px){
    .nav-menu a{
        font-size: 18px;
    }

    .nav-menu li {
        font-size:18px;
    }
}

@media screen and (min-width: 1200px){
    .nav-menu a{
        font-size: 20px;
    }

    .nav-menu li {
        font-size: 20px;
    }
}

